 
  <footer>
    <div class="container"> 
      <div class="group">
        <div class="span6">
          <h3>Sign Up For Updates</h3>
          <p>In the meantime sign up to our newsletter. Once you confirm we'll send you a sample of a simple responsive HTML email so you can see it in action.</p>
          <form action="//leemunroe.us1.list-manage.com/subscribe/post?u=1998df7f0f3a32bdf922938ca&amp;id=4bf2c8f8b9" method="post" class="subscribe-form__footer">
            <input type="email" value="" name="EMAIL" id="mce-EMAIL"> <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
        <div class="span6">
          <ul>
            <li><a href="/blog">Blog</a></li>
            <li><a href="https://github.com/leemunroe/htmlemail/issues">Support / Issue Tracker</a></li>
            <li><a href="https://github.com/leemunroe/htmlemail/">Documentation</a></li>
            <li><a href="mailto:hello@htmlemail.io">hello@htmlemail.io</a></li>
            <li><a href="http://twitter.com/htmlemailio">@htmlemailio</a></li>
          </ul>
          <p>Thanks to <a href="https://twitter.com/g13nnsmith">Glenn</a>, <a href="https://twitter.com/TedGoas">Ted</a>, <a href="https://twitter.com/dandenney">Dan</a>, <a href="https://twitter.com/stigm">Stig</a>, <a href="http://Sivanweb.com">Daniel</a> and <a href="https://twitter.com/eddywashere">Eddy</a> for their code reviews.</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="/js/build.js"></script>

</body>
</html>