//**
// Blog
//**

.container--blog {
  max-width: 800px;
  padding-top: 60px;

  h1,
  h2 {
    font-size: 48px;
    margin: $padding 0 $padding/4;
    text-align: left;
  }
}

.header--blog {
  position: fixed;
  top: 0;
  width: 100%;
}

.blog--image {
  text-align: center;
}

.posts {
  list-style: none;
  margin: $padding/2 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;

    &:first-child {
      .post__title {
        border-top: 1px solid rgba($subtle-color, .2);
      }
    }
  }

  .post__title {
    border-bottom: 1px solid rgba($subtle-color, .2);
    display: block;
    padding: 5px;
    text-decoration: none;

    &:hover {
      background: rgba($subtle-color, .1)
    }
  }
}





// Social sharing

.social-sharing-container {
  margin-bottom: $padding/2;
}





// Subscribe footer of post
.post-subscribe {
  background: $tertiary-color;
  color: #fff;
  margin-bottom: $padding/4;
  padding: 20px;
  text-align: center;

  form {
    margin-bottom: $padding/4;
  }

  h3 {
    color: inherit;

    &:after {
      background: none;
      height: 0;
    }
  }
}

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
@include responsive($small-break) {
  .header {
    position: relative;
    top: auto;
  }

  .container--blog {
    padding-top: 0;

    h1 {
      font-size: 28px;
      margin-top: 20px;
    }
  }
}
