//**
// Blog
//**

.container--blog {
  max-width: 800px;

  h1,
  h2 {
    font-size: 48px;
    margin: $padding 0 $padding/4;
    text-align: left;
  }

}

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
