//**
// Main Layout Styles
//**

.header {
  background: $gradient2;
  background: -webkit-linear-gradient(-45deg, $gradient1 , $gradient2);
  background: linear-gradient(-45deg, $gradient1 , $gradient2);     
  color: white;
  padding: $padding/4 0;
}

.header--hero {
  padding: $padding/2;
  text-align: center;

  em {
    color: rgba(white, .8);
  }

  .btn-group {
    margin-bottom: $padding/2;
  }

  h1 {
    margin-bottom: $padding/2;
  }
}

// Hero image templates
.hero-image {
  margin: 0 auto $padding/2;
}

.hero-image-svg {
  max-height: 250px;
}

// Logo
.logo {
  height: 50px;
  margin: 0 auto $padding/2;
  text-align: center;
}

.logo--inline {
  height: 20px;
  margin: 12px 0;
  text-align: left;
}

.logo-svg {
  height: 100%;
}





// Footer
footer {
  background: $charcoal;
  color: rgba(255, 255, 255, .8);
  padding: $padding 0;

  a {
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }
}




// Responsive styles if needed
@include responsive($big-break) {
  .hero {
    padding: $responsive-padding;
  }
}
@include responsive($small-break) {
}

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
