//**
// Project Settings
//**

// Consistent settings
$br: 5px; // Border-radius
$btn-br: 5px; // Button border-radius
$padding: 100px; // Padding and margins
$responsive-padding: 10px; // Padding and margins on mobile
$line-height: 44px; // Consistent height for buttons, inputs etc.
$font-color: #444;
$font-stack:  "Work Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$heading-stack: "Titillium Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;





// Responsive breakpoints
$small-break: 480px;
$big-break: 780px;





// Better default colors
// Cool
$aqua:  #7fdbff;
$blue:  #0074d9;
$navy:  #001f3f;
$teal:  #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime:  #01ff70;
// Warm
$yellow:  #ffdc00;
$orange:  #ff851b;
$red:     #ff4136;
$fuchsia: #f012be;
$purple:  #b10dc9;
$maroon:  #85144b;
// Gray Scale
$white:  #fff;
$silver: #ddd;
$grey:   #aaa;
$black:  #111;
$charcoal: #2E4057;





// Project color variables
$primary-color: #B24592;
$secondary-color: #FFCAB1;
$tertiary-color: #69A2B0;
$quaternary-color: #659157;
$quinary-color: #A1C084;

$gradient1: #B24592;
$gradient2: #F15F79;

$gradient3: #B7C8B5;
$gradient4: #B7C8B5;





$danger-color: $red; // Bad color for errors, validation etc.
$success-color: $green; // Good color for success etc.
$info-color: $blue; // Good color for success etc.
$warning-color: $orange; // Good color for success etc.
$subtle-color: $grey; // Subtle color for subtle text
